name: deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  octodns:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '3'
      - name: Install octodns
        run: python -m pip install octodns git+https://github.com/octodns/octodns-hetzner.git@main octodns-cloudflare
      - name: Sync w/ production DNS providers
        run: octodns-sync --config-file=./config/production.yaml --doit
        env:
          HETZNER_TOKEN: ${{ secrets.HETZNER_TOKEN }}
          CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
